div.cal-header {
    visibility: hidden;
}

div.cal-days {
	overflow:auto;
}

.cal-day-style {
font-weight: bolder;
}

.employee-info {
	color:gray;
}

.toast-style {
	marginTop: 80px;
	
}
button.ui-button{
	margin-left: 2%;
}