.form-info{
    color: red;
}


.form-table-style
{
    box-sizing:border-box;
    background-color: #fbfbfb;
}
  

button{
    font-size: 20px;
    display: flex; 
    margin: auto;

}


.sub-heading{
    margin-left: 20px; 
}
h2.header{
	float: left;
	font-weight: bold;
}

input{
        max-width: 100%;
    }
.toast-style{
	marginTop: 80px;
}
.card{
	position: relative;
	height: 300px;
	
}
h3.card-header{
	font-weight: 500;
	text-align: center;
	color: #00ce00;
}

body .ui-card{
	background-color: #fbfbfb;
	width: 50%;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: auto;
  	margin-top: 50px;
}

.back{
	float:right;
}
.ui-button.grey-button{
	background-color: #e4e4e4;
    border-color: #e4e4e4;
    color: #777;
    border:#e4e4e4;
    background: #e4e4e4;
}
.ui-button.grey-button:hover {
   background-color: #d3d3d3;
   border-color: #d3d3d3;
   color: #777;
   border:#d3d3d3;
   background: #d3d3d3;
   
}

.ui-multiselect .ui-multiselect-label {
 	width:12em;	

}

.textarea-style{
	max-width: 100%;
	max-height: 100%;
}

.ui-calendar.ui-calendar-w-btn .ui-inputtext{
	width: 90%;
	
}