<p-progressBar *ngIf="blocked" mode="indeterminate"></p-progressBar>
<p-toast class="toast-style" position="top-center" ></p-toast>

<div #configDiv class="ui-g-12 shift-conf-div">
<p-blockUI [blocked]="blocked"></p-blockUI>
	
	<div class="ui-g-12" *ngIf="!enableDefault">
	
		<div *ngFor="let shift of shifts">
			<div class="ui-g-6 ui-sm-12">
				<div class="ui-g-12 ui-sm-12">
					<label>{{shift.seqLabel}}</label>
				</div>
				<div>
					<div class="ui-g-12">
							<p-calendar [(ngModel)]="shift.shiftFromTime" [timeOnly]="true"
							hourFormat="24" placeholder="From" ></p-calendar>
						</div>
						<div class="ui-g-12">
							<p-calendar [(ngModel)]="shift.shiftToTime" [timeOnly]="true"
							hourFormat="24" placeholder="To"></p-calendar>
						</div>
				</div>
			</div>
			
		</div>
		<div class="ui-g-6 ui-sm-12">
				<div  class="ui-g-12">
					<button class="ui-button-raised ui-button-secondary" type="button" icon="pi pi-plus" pButton label="Add Custom Shift" (click)="addCustomShift()"></button>
				</div>
		</div>
	</div>	
	<div *ngIf="enableDefault">
		<div *ngFor="let shift of defaultShifts">
			<div class="ui-g-6 ui-sm-12">
				<div class="ui-g-12 ui-sm-12">
					<label>{{shift.seqLabel}}</label>
				</div>
				<div>
					<div class="ui-g-12">
							<p-calendar [(ngModel)]="shift.shiftFromTime" [timeOnly]="true"
							hourFormat="24" placeholder="From" ></p-calendar>
						</div>
						<div class="ui-g-12">
							<p-calendar [(ngModel)]="shift.shiftToTime" [timeOnly]="true"
							hourFormat="24" placeholder="To"></p-calendar>
						</div>
				</div>
			</div>
			
		</div>
		<div class="ui-g-6 ui-sm-12">
			<div align="center">
				<div  class="ui-g-12">
					<button class="ui-button-raised ui-button-secondary" type="button" icon="pi pi-plus" pButton label="Add Custom Shift" (click)="addCustomShift()"></button>
				</div>
			</div>
		</div>
	</div>
	
	 <br>
	
	<div class="ui-g-12 ui-sm-12 ui-md-12" align="center">
		<div>
			<button pButton type="button" label="Save"
				(click)="save()" [disabled]="blocked"></button>
			<button pButton type="button" label="Cancel"
				[routerLink]="['../../']" (click)="cancel()" [disabled]="blocked"></button>
		</div>
	</div>
</div>