<div id="myCarousel"  class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img
				src="/assets/images/logo-modified.jpg"
				alt="Los Angeles" style="width: 100%;">
		</div>

		<div class="item">
			<img
				src="/assets/images/slide22.png"
				alt="Chicago" style="width: 100%;">
		</div>

		<div class="item">
			<img
				src="/assets/images/slider11.png"
				alt="New york" style="width: 100%;">
		</div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span> <span
		class="sr-only">Previous</span>
	</a> <a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span> <span
		class="sr-only">Next</span>
	</a>
</div>


<div class="container"></div>
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="enigma_blog_full">
				<div class="enigma_blog_post_content">
					<p>
						<img style="float: left; width: 400px; height: 400px; margin: 2%;"
							src="/assets/images/upd.png"
							alt="" width="500" height="300" />
					</p>
					<p>
						<strong>Tri-State Healthcare services</strong> is a premiere
						staffing agency providing staffing personnel in the disciplines
						that includes nursing, allied, non-clinical.
					</p>
					<p>
						We have become a preferred supplier of all NYC Hospitals and the
						majority of nursing homes in the five boroughs. We believe in <strong>teamwork,
							dedication, and a vigorous screening process</strong> which is why we are
						able to provide our clients with the highest quality of personnel
						which will allow us to efficiently service our patrons.
					</p>
					<p>We can provide both unique short term and long term staffing
						solutions to meet your unique staffing needs.</p>
					<p>Our mission is to ensure that healthcare professionals and
						healthcare organizations find their perfect match.</p>
					<p>Our medical staffing agency believes that people should
						always be cared for. Think of us as a modern organization but with
						old fashioned values, morals, and business ethics.</p>
					<p>
						We attribute our success to our focus on <strong><q>Taking
							care of People</q></strong>, and that concept holds true as we continue to
						expand to meet the increasing demands of the healthcare staffing
						industry.
					</p>
				</div>
			</div>
		</div>

	</div>
</div>

