.red-cell {
        background-color: red !important;
}
.blue-cell {
        background-color: blue !important;
}


div.cal-header {
    visibility: hidden;
}

div.cal-days {
	overflow:auto;
}