.center{
	text-align: center;
}

.right{
	text-align: right;
}

p-toast{
	margin-top: 80px;
}
.filter-block{
	border: 1px solid #fbfbfb;
	background-color: #fbfbfb;
}
 
.msg{
	color: green;
	font-size: medium;
}
.red-color{
	color:red;
}