<p-progressBar *ngIf="blocked" mode="indeterminate"></p-progressBar>

<p-accordion>
    <p-accordionTab header="Search">
    <div class=" ui-g-12">
	<div class="ui-g-12">
		<div class="ui-g-12 filter-block">
			<div class="ui-g-12 ">
				<div class="ui-g-4 ui-sm-12">
					<div class="ui-g-3 ui-sm-12">
						<label>Zip Code:</label>
					</div>
					<div class="ui-g-5 ui-sm-12">
						<p-autoComplete [(ngModel)]="selectedZipcode" [suggestions]="filteredZipcode" (completeMethod)="filteredZipcodes($event)" (onClear)="clear()" [size]="30"
   						 placeholder="Zipcode" [minLength]="1"></p-autoComplete>
						<div class="msg" >
							{{msgs}}
						</div>
					</div>	
				</div>
				<div class="ui-g-4 ui-sm-12">
					<div class="ui-g-2 ui-sm-12">
						<label>Facility:</label>
					</div>
					<div class="ui-g-6 ui-sm-12">
						<p-dropdown [options]="facilities" [(ngModel)]="selectedFacility" name="selectedFacility" filter="true" [style]="{'width':'15em'}">
						    <ng-template let-item pTemplate="selectedItem">
						        <span>{{item.label}}</span>
						    </ng-template>
						    <ng-template let-facility pTemplate="item">
						        <div>
						            <div>{{facility.label}}</div>
						        </div>
						    </ng-template>
						</p-dropdown>
					</div>
				</div>
				<div class="ui-g-4 ui-sm-12 ">
					<div class="ui-g-3 ui-sm-12 ">
						<label>Radius (Miles):</label>
					</div>
					<div class="ui-g-6 ui-sm-12 ">
						<input type="type" pInputText [(ngModel)]="radius" style="width:14em" disabled="true"/>
						<p-slider [(ngModel)]="radius" [style]="{'width':'14em'}"></p-slider>
					</div>
				</div>
			</div>
			<div class="ui-g-12 ">
				<div class="ui-g-6 ui-sm-12">
					<div class="ui-g-2 ui-sm-12">
						<label>Shift From Date:</label>
					</div>
					<div class="ui-g-4 ui-sm-12">
						<p-calendar [(ngModel)]="shiftDateFrom" [showIcon]="true" dateFormat="mm/dd/yy"  [defaultDate]="defaultDate"></p-calendar>
					</div>
					<div class="ui-g-2 ui-sm-12">
						<label>Shift To Date:</label>
					</div>
					<div class="ui-g-4 ui-sm-12">
						<p-calendar [(ngModel)]="shiftDateTo" [showIcon]="true" dateFormat="mm/dd/yy" [defaultDate]="defaultDate"></p-calendar>
					</div>
				</div>
				<div class="ui-g-6 ui-sm-12">
					<div class="ui-g-1 ui-sm-12">
						<label>Shifts:</label>
					</div>
					<div class="ui-g-2 ui-sm-4">
							<p-checkbox name="shifts" value="7-3" label="7-3" [(ngModel)]="selectedShift7To3" ></p-checkbox>
					</div>
					<div class="ui-g-2 ui-sm-4">
						<p-checkbox name="shifts" value="3-11" label="3-11" [(ngModel)]="selectedShift3To11" ></p-checkbox>
					</div>
					<div class="ui-g-2 ui-sm-4">
						<p-checkbox name="shifts" value="11-7" label="11-7" [(ngModel)]="selectedShifts11To7" ></p-checkbox>
					</div>
					<div class="ui-g-2 ui-sm-4">
						<p-checkbox name="shifts" value="Other" label="Other" [(ngModel)]="selectedShiftOther" ></p-checkbox>
					</div>
				</div>
			</div>
			<div class="ui-g-12 ">
				<div class="ui-g-6 ui-sm-12">
					<div class="ui-g-1 ui-sm-12">
						<label>Titles:</label>
					</div>
					<div class="ui-g-2 ui-sm-4">
						<p-radioButton name="titles" value="All" label="All" [(ngModel)]="selectedTitle" ></p-radioButton>
					</div>
					<div class="ui-g-2 ui-sm-4">
						<p-radioButton name="titles" value="LPN" label="LPN" [(ngModel)]="selectedTitle" ></p-radioButton>
					</div>
					<div class="ui-g-2 ui-sm-4">
						<p-radioButton name="titles" value="RN" label="RN" [(ngModel)]="selectedTitle" ></p-radioButton>
					</div>
					<div class="ui-g-2 ui-sm-4">
						<p-radioButton name="titles" value="CNA" label="CNA" [(ngModel)]="selectedTitle" ></p-radioButton>
					</div>
					<div class="ui-g-2 ui-sm-4">
						<p-radioButton name="titles" value="STNA" label="STNA" [(ngModel)]="selectedTitle" ></p-radioButton>
					</div>
					<div class="ui-g-2 ui-sm-4">
						<p-radioButton name="titles" value="GNA" label="GNA" [(ngModel)]="selectedTitle" ></p-radioButton>
					</div>
					<div class="ui-g-2 ui-sm-4">
						<p-radioButton name="titles" value="Others" label="Others" [(ngModel)]="selectedTitle" ></p-radioButton>
					</div>
				</div>
				<div class="ui-g-6 ui-sm-12">
					<div class="ui-g-2 ui-sm-12">
						<label>Eliminate:</label>
					</div>
					<div class="ui-g-3 ui-sm-12">
						<p-checkbox name="titles" value="Booked" label="Already Booked" [(ngModel)]="selectedEliminateBooked" ></p-checkbox>
					</div>
					<div class="ui-g-2 ui-sm-12">
						<p-checkbox name="titles" value="Banned" label="Blacklisted" [(ngModel)]="selectedEliminateBanned" ></p-checkbox>
					</div>
					<div class="ui-g-3 ui-sm-12">
						<p-checkbox name="titles" value="Pending" label="New application" [(ngModel)]="selectedEliminatePending" ></p-checkbox>
					</div>
					<div class="ui-g-3 ui-sm-12">
						<p-checkbox name="titles" value="Not been" label="Has not been there" [(ngModel)]="selectedEliminateNotBeen" ></p-checkbox>
					</div>
				</div>
			</div>
			<div class="ui-g-12" align="center">
				<button pButton type="submit " label="Search" (click)="search()"></button>
			</div>
		</div>
	</div>
</div>
    </p-accordionTab>
</p-accordion>
<div class="ui-g-12">
	<p-blockUI [blocked]="blocked" [target]="ui-g"></p-blockUI>
	<p-toast position="top-center"></p-toast>
	<div class="ui-g-12" *ngIf="showTable">
		<p-table #availDt [columns]="availCols" [value]="userAvailabilities"
			[paginator]="true" [rows]="10" [autoLayout]="true"> 
			<ng-template pTemplate="caption">
			<div class="right">
				<input type="text" pInputText size="20" placeholder="Search"
				(input)="availDt.filterGlobal($event.target.value, 'contains')"
				style="width: auto">
			</div>
			</ng-template> 
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let col of columns" class="center">{{col.header}}</th>
				</tr>
	
			</ng-template> 
			<ng-template pTemplate="body" let-rowData let-columns="columns">
				<tr [pSelectableRow]="rowData">
					<td *ngFor="let col of columns"  class="center">
					<div [innerHTML]="rowData[col.field]"></div>
					</td>
				</tr>
			</ng-template> 
		</p-table>
	</div>
</div>