<div class="container" >

<p-card header="Advanced Card" subheader="Subheader"  styleClass="ui-card-shadow">
	<p-header>
		<div class="ui-g-12">
		   <br>
		   Working with Tristate is easy! Simply signup and maintain your own profile online.
		   <b>get your schedule notification.  Enter your availbility.</b>
		   <br>
		      Already Applied dfd?<a class="header-info-style" (click)="login()"> Login here</a>
	 
		</div>
	
    </p-header>
   	<div class="ui-g-12">
	<form [formGroup]="jobForm" (ngSubmit)="onSubmit()" >   
		
		<div class="ui-g-12 ui-sm-12">
					<div class="ui-g-2 ui-sm-12">
						<label>Email<span class="form-info">*</span>: </label>
					</div>
					<div class="ui-g-8 ui-sm-12">
						<input id="email_id" type="email" maxlength="35" size="35" pInputText formControlName="email" pKeyFilter="email">
						<div class="ui-g-12">
							<p-message severity="error" [text]="jobform.email.errors.required?'Email is required' : jobform.email.errors.email?'Invalid email' : ''" *ngIf="!jobform.email.valid && jobform.email.dirty"></p-message>
						</div>
					</div>
		</div>
		<div class="ui-g-12 ui-sm-12">
					<div class="ui-g-2 ui-sm-12">
						<label>Password<span class="form-info">*</span>: </label>
					</div>
					<div class="ui-g-8 ui-sm-12">
						<input id="password_id" type="password" maxlength="30" size="35" pInputText formControlName="password" pKeyFilter="email">
						<div class="ui-g-12">
							<p-message severity="error" [text]="jobform.password.errors.required?'Password is required' : jobform.password.errors.minlength?'Minimum 5 characters is Required' : ''" *ngIf="!jobform.password.valid && jobform.password.dirty"></p-message>
						</div>
					</div>
		</div>
		<div class="ui-g-12 ui-sm-12">
					<div class="ui-g-2 ui-sm-12">
						<label>Phone<span class="form-info">*</span>: </label>
					</div>
					<div class="ui-g-8 ui-sm-12">
						<input id="phone_id" type="tel" formControlName="phone" size="35" maxlength="10" pInputText pKeyFilter="num">
						<div class="ui-g-12">
							<p-message severity="error" [text]="jobform.phone.errors.required?'Phone is required':jobform.phone.errors.pattern?'Invalid phone':''" *ngIf="!jobform.phone.valid && jobform.phone.dirty"></p-message>
						</div>
					</div>
		</div>
		<div class="ui-g-12 ui-sm-12">
					<div class="ui-g-2 ui-sm-12">
						<label>First Name<span class="form-info">*</span>:</label>
					</div>
					<div class="ui-g-8 ui-sm-12">
						<input id="fname_id" type="text" maxlength="30" size="35" pInputText formControlName="firstName">
						<div class="ui-g-12">
							<p-message severity="error" text="First Name is required" *ngIf="!jobform.firstName.valid && jobform.firstName.dirty"></p-message>
						</div>
					</div>
		</div>
		<div class="ui-g-12 ui-sm-12">
					<div class="ui-g-2 ui-sm-12">
						<label>Middle Name<span class="form-info"></span>:</label>
					</div>
					<div class="ui-g-6 ui-sm-12">
						<input id="mname_id" type="text" maxlength="30" size="35" pInputText formControlName="middleName">
					</div>
					
		</div>
		<div class="ui-g-12 ui-sm-12">
					<div class="ui-g-2 ui-sm-12">
						<label>Last Name<span class="form-info">*</span>:</label>
					</div>
					<div class="ui-g-6 ui-sm-12">
						<input id="lname_id" type="text" maxlength="30" size="35" pInputText formControlName="lastName">
						<div class="ui-g-12">
							<p-message severity="error" text="Street Address is required" *ngIf="!jobform.lastName.valid && jobform.lastName.dirty"></p-message>
						</div>
					</div>
		</div>
		
		<div class="ui-g-12" align="center">
				
		</div>
		
	</form>
</div>
    <p-footer>
       	<button pButton type="submit " (click)="onSubmit()" label="Apply" [disabled]="jobForm.invalid"></button>
    </p-footer>
</p-card> 

<div class="ui-g-12" ></div>
</div>



