
<p-progressBar *ngIf="blocked" mode="indeterminate"></p-progressBar>
<br>
<div class="container">
	<div class="btn-group">
		<div class="btn btn-primary" mwlCalendarPreviousView [view]="view"
			[(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
			Previous</div>
		<div class="btn btn-outline-secondary" mwlCalendarToday
			[(viewDate)]="viewDate">{{ viewDate | date:'LLL'}}</div>
		<div class="btn btn-primary" mwlCalendarNextView [view]="view"
			[(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
			Next</div>

	</div>
	<br>
	<div align="center">
		<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
	</div>
	<p-toast class="toast-style" position="top-center" ></p-toast>
	<p-blockUI [blocked]="blocked" [target]="container"></p-blockUI>
	<ng-template #customCellTemplate let-day="day" let-locale="locale">
	<div class="cal-cell-top">
		<div class="ui-g-12">
		
			<span class="cal-day-number" style="font-weight: bolder">{{day.date | date : 'E'}}<br>{{ day.date |
				calendarDate:'monthViewDayNumber':locale }}</span>

		</div>
		<div class="ui-g-12">
			<p-checkbox #shift7to3 name="shift" name="shift"
				value="{{ day.date | date: 'MM/dd/yyyy'}}:7-3" label="7-3"
				[(ngModel)]="selectedShifts" [disabled]="isDisabled(day.date)" (onChange)="checkIfAllSelected(shift7to3.value,shift3to11.value,shift11to7.value,allShifts.value)"></p-checkbox>
		</div>
		<div class="ui-g-12">
			<p-checkbox #shift3to11 name="shift" name="shift"
				value="{{ day.date | date: 'MM/dd/yyyy'}}:3-11" label="3-11"
				[(ngModel)]="selectedShifts" [disabled]="isDisabled(day.date)" (onChange)="checkIfAllSelected(shift7to3.value,shift3to11.value,shift11to7.value,allShifts.value)"></p-checkbox>
		</div>
		<div class="ui-g-12">
			<p-checkbox #shift11to7 name="shift" name="shift"
				value="{{ day.date | date: 'MM/dd/yyyy'}}:11-7" label="11-7"
				[(ngModel)]="selectedShifts" [disabled]="isDisabled(day.date)" (onChange)="checkIfAllSelected(shift7to3.value,shift3to11.value,shift11to7.value,allShifts.value)"></p-checkbox>
		</div>
		<div class="ui-g-12">
			<p-checkbox #allShifts name="shift" name="shift"
				value="{{ day.date | date: 'MM/dd/yyyy'}}:All" label="All"
				[(ngModel)]="selectedAllShifts" [disabled]="isDisabled(day.date)" (onChange)="selectAll(shift7to3.value,shift3to11.value,shift11to7.value,allShifts.value)"></p-checkbox>
		</div>
	</div>
	<div class="ui-g-12">
		<label for="comments">Comments</label><br />
		<textarea [rows]="5" [cols]="12" maxlength="200" #textComments
			id="{{ day.date | date: 'MM/dd/yyyy'}}"
			[ngModel]="comments.get(textComments.id)"
			(ngModelChange)="comments.set(textComments.id,$event)" pInputTextarea
			[disabled]="isDisabled(day.date)"></textarea>
	</div>
	</ng-template>

	<div [ngSwitch]="view">
		<mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate"
			[events]="events" [cellTemplate]="customCellTemplate"
			> </mwl-calendar-month-view>
		<mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate"
			[events]="events"> </mwl-calendar-week-view>
		<mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate"
			[events]="events"> </mwl-calendar-day-view>
	</div>

	<div class="ui-g-12" align="center">
		<button pButton type="button" label="Save" (click)="save()"></button>
	</div>
</div>