	<div *ngIf="!isAuthenticated" class="jumbotron text-center jumbotron-header-style">
	<div class="row">
			<div class="col-xs-6">
				<a href="http://www.tristatesoft.com/"
					title="Tri State Healthcare Services" rel="home"> <img
					class="img-responsive header-style"
					src="/assets/images/logo.png"/>
				</a>
			</div>
			<div class="col-xs-6" >
				<ul class="float-right header-info-style">
					<li><a
						href="mailto:info@tristatehc.com"
						class="header-info-style">info@tristatehc.com
							<span class="glyphicon glyphicon-envelope"></span>
					</a></li>
					<li><a href="tel:(732) 654-2220"
						class="header-info-style">(732)
							654-2220 <span class="glyphicon glyphicon-phone-alt"></span>
					</a></li>
					<li><a href="tel:(732) 654-2220"
						class="header-info-style">(866)
							382-1647 <span class="glyphicon glyphicon-earphone"></span>
					</a>
					</li>
				</ul>
			</div>
			<div> 
				<a class="header-info-style" *ngIf="!isAuthenticated" (click)="login()"> Login </a>
			</div>
	</div>

</div>

	<p-toolbar *ngIf="isAuthenticated" styleClass="toolbar-style">
		<div>
			<div class="ui-toolbar-group-left">
				<span class="toolbar-content-style" *ngIf="isAuthenticated">Welcome {{loggedInUser}} !!</span>
			</div>
			<div class="ui-toolbar-group-right">
		   		<a class="toolbar-content-style" *ngIf="isAuthenticated" (click)="logout()" [routerLink]="['/home']"> Logout </a>
		    </div>
		 </div>
	 </p-toolbar>
	 <br>
	<nav class="navbar navbar-default">
		<div class="container-fluid" >

			<ul class="nav navbar-nav">
				<li *ngIf="!isAuthenticated" routerLinkActive="active"><a routerLink="/home" >HOME</a></li>
				<li *ngIf="!isAuthenticated" routerLinkActive="active"><a routerLink="/medicalstaffing" >MEDICAL STAFFING</a></li>
				<li *ngIf="!isAuthenticated" routerLinkActive="active"><a routerLink="/clients">CLIENTS</a></li>
				<li *ngIf="!isAuthenticated" routerLinkActive="active"><a routerLink="/jobseekers">JOB SEEKERS</a></li>
				<li *ngIf="!isAuthenticated" routerLinkActive="active"><a routerLink="/aboutus" >ABOUT US</a></li>
				<li *ngIf="!isAuthenticated" routerLinkActive="active"><a routerLink="/contact">CONTACT US</a></li>
				<li *ngIf="!isAuthenticated" routerLinkActive="active"><a routerLink="/jobs">JOBS</a></li>
				<li  [appHideIfUnauthorized]="['Admin','TristatehcAppUsers']" routerLinkActive="active" ><a routerLink="/myavailability">MY AVAILABILITY</a></li>
				<li  [appHideIfUnauthorized]="['Admin','TristatehcAppUsers']" routerLinkActive="active"><a routerLink="/myshifts">MY SHIFTS</a></li>
				<li  [appHideIfUnauthorized]="['Admin','TristatehcAppUsers']" routerLinkActive="active"><a routerLink="/myprofile">MY PROFILE</a></li>
				<li  [appHideIfUnauthorized]="['Admin']" routerLinkActive="active"><a routerLink="/admin">ADMIN</a></li>
				<li  [appHideIfUnauthorized]="['Admin']" routerLinkActive="active"><a routerLink="/useravailability">USER AVAILABILITY</a></li>
			</ul>
		</div>
		
	</nav>

	<router-outlet></router-outlet>

<footer *ngIf="!isAuthenticated" class="footer-info-style">
&nbsp;
  <p>&#169; 2018 TriState Healthcare Services&nbsp;|&nbsp;Developed By&nbsp;OpenFeather</p>

</footer>