<div class="container" >

<p-card header="Advanced Card" subheader="Subheader"  styleClass="ui-card-shadow">
	<p-header>
		<div class="ui-g-12">
			<br>
			Working with Tristate is easy! Simply signup and maintain your own profile online.
			 get your schedule notification.  Enter your availbility. 
		 
			 <br>		 <br>
			 
		
		      Already Applied ?<a class="header-info-style" (click)="login()"> Login here</a> Or Please <a href="{{signupUrl}}">Sign up </a>
					
		</div>	
					
    </p-header>
		 <br>
		 <br>
		  <br>
		  <br>
   	<div class="ui-g-12">
					
		
		
		
		</div>
   	
	<p-footer>
	
		
    </p-footer>
</p-card> 

<div class="ui-g-12" ></div>
</div>




